<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>
  <h1>Emperor's New Groove</h1>
  <div id="app">
    <h2>List of Characters</h2>
    <p v-if="listOfCharacters.length == 0">There are no characters</p>
    <ul>
      <li v-for="character in listOfCharacters">
        <p>{{ character }}</p>
        <button v-on:click="createFavoritesList(character)">Favorite</button>
      </li>
    </ul>
    <p>
      <span v-for="(character, index) in listOfCharacters">
        {{ character }}{{ index === listOfCharacters.length - 1 ? '' : ', '}}
      </span>
    </p>
    <hr>
    <h2>Add a Character</h2>
    <div>
      <label for="addCharacter">Add Character: </label>
      <input type="text" v-model="newCharacter" @keyup.enter="addCharacter(newCharacter)" />
      <button v-on:click=" addCharacter">Add</button>
    </div>
    <h2>List Favorite Characters</h2>
    <hr>
    <p v-if="favoritesList.length == 0">Favorites List is Empty</p>
    <ul>
      <li v-for="favorite in favoritesList">{{ favorite }}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue

    const app = createApp({
      data: () => ({
        favoritesList: [],
        newCharacter: '',
        listOfCharacters: ['Kuzco', 'Pacha', 'Ezma', 'Kronk']
      }),
      methods: {
        addCharacter() {
          this.listOfCharacters.push(this.newCharacter)
          this.newCharacter = ''
        },
        createFavoritesList(character) {
          this.favoritesList.push(character)
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>