<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>
  <h1>Emperor's New Groove</h1>
  <div id="app">
    <h2>List of Characters</h2>
    <p v-if="listOfCharacters.length == 0">There are no characters</p>
    <ul>
      <li v-for="character in listOfCharacters">
        <p>{{ character.name }}</p>
        <button v-on:click="createFavoritesList(character)">Favorite</button>
      </li>
    </ul>
    <p>
      <span v-for="(character, index) in listOfCharacters">
        {{ character.name }}{{ index === listOfCharacters.length - 1 ? '' : ', '}}
      </span>
    </p>
    <hr>
    <h2>Add a Character</h2>
    <div>
      <pre>
        {{ newCharacter }}
      </pre>
      <label for="addCharacter">Add Character Name: </label>
      <input type="text" v-model="newCharacter.name" @keyup.enter="addCharacter(newCharacter)" />
      <label for="addCharacter">Add Character Species: </label>
      <input type="text" v-model="newCharacter.species" @keyup.enter="addCharacter(newCharacter)" />
      <button v-on:click=" addCharacter">Add</button>
    </div>
    <hr>
    <h2>List Favorite Characters</h2>
    <p v-if="favoritesList.length == 0">Favorites List is Empty</p>
    <ul>
      <li v-for="favorite in favoritesList">{{ favorite.name }}</li>
    </ul>
    <hr>
    <h2>Statistics</h2>
    <ul>
      <li v-for="(stat, type) in speciesStatistics">{{ type }}: {{ stat }}</li>
    </ul>
  </div>
  <hr>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue

    const app = createApp({
      data: () => ({
        favoritesList: [],
        newCharacter: { name: '', species: [] },
        listOfCharacters: [
          { name: 'Kuzco', species: ['Human', 'Llama'] },
          { name: 'Pacha', species: ['Human'] },
          { name: 'Ezma', species: ['Human', 'Cat'] },
          { name: 'Kronk', species: ['Human'] }
        ]
      }),
      computed: {
        speciesStatistics() {
          const species = ['Human', 'Cat', 'Llama', 'Squirrel']
          const statistics = {
            Human: 0,
            Cat: 0,
            Llama: 0,
            Squirrel: 0
          }

          this.listOfCharacters.forEach(character => {
            species.forEach(species => {
              if (character.species.indexOf(species) > -1) {
                statistics[species] += 1
              }
            })
          })
          return statistics
        }
      },
      methods: {
        addCharacter() {
          this.listOfCharacters.push(this.newCharacter)
          this.newCharacter = { name: '' }
        },
        createFavoritesList(character) {
          this.favoritesList.push(character)
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>